<div class="container">
  <p id ="notice"></p>
  
  <h4 class="text-dark bg-light w-25 text-center mb-4">マイページ</h4>
  
  <div class="row">
    <div class="col">
      <h4>登録情報</h4>
    </div>
  </div>
    
  <div class="row">
    <div class="col-6 col-sm-4 bg-light border py-2">氏名</div>
    <div class="col-6 col-sm-6 border py-2">.col-6 .col-sm-4</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border py-2">カナ</div>
    <div class="col-6 col-sm-6 border py-2">.col-6 .col-sm-4</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border py-2">郵便番号</div>
    <div class="col-6 col-sm-6 border py-2">.col-6 .col-sm-4</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border py-2">住所</div>
    <div class="col-6 col-sm-6 border py-2">.col-6 .col-sm-4</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border py-2">電話番号</div>
    <div class="col-6 col-sm-6 border py-2">.col-6 .col-sm-4</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border py-2">メールアドレス</div>
    <div class="col-6 col-sm-6 border py-2">.col-6 .col-sm-4</div>
    
    <div class="row">
      <div class="col">
        <h4>配送先</h4>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <h4>注文履歴</h4>
      </div>
    </div>
    
    
  </div>
</div>