<div class="container">
  <p id ="notice"></p>
  
  <h4 class="text-dark bg-light w-25 text-center mb-4">マイページ</h4>
  
  <div class="row">
    <div class="col">
      <h4>登録情報</h4>
    </div>
  </div>
    
  <div class="row">
    <div class="col-6 col-sm-4 bg-light border">.col-6 .col-sm-4</div>
    <div class="col-6 col-sm-6 border">.col-6 .col-sm-4</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border">.col-6 .col-sm-4</div>
    <div class="col-6 col-sm-6 border">.col-6 .col-sm-4</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border">.col-6 .col-sm-4</div>
    <div class="col-6 col-sm-6 border">.col-6 .col-sm-4</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border">.col-6 .col-sm-4</div>
    <div class="col-6 col-sm-6 border">.col-6 .col-sm-4</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border">.col-6 .col-sm-4</div>
    <div class="col-6 col-sm-6 border">.col-6 .col-sm-4</div>
    
    
    
  </div>
</div>