<div class="container">
  <p id ="notice"></p>
  
  <h4 class="text-dark bg-light w-25 text-center mb-4">マイページ</h4>
  
  <div class="row">
    <div class="col">
      <h4>登録情報</h4>
    </div>
  </div>
    
      <div class="row">
      <div class="col">
        <label for="name" class="col-sm-4 col-form-label">名前</label>
      </div>
      <div class="col">
        <label for="first_name" class="col-form-label">(姓) </label>
        <input type="text" class="form-control-sm ml-3" placeholder="令和" aria-label="First name">
      </div>
      <div class="col">
        <label for="last_name" class="col-form-label">(名) </label>
        <input type="text" class="form-control-sm ml-3" placeholder="道子" aria-label="Last name">
     </div>
    </div>
    
    <div class="row">
      <div class="col">
        <label for="name" class="col-sm-4 col-form-label">フリガナ</label>
      </div>
      <div class="col">
        <label for="first_name_kana" class="col-form-label">(セイ)</label>
        <input type="text" class="form-control-sm" placeholder="令和" aria-label="First name">
      </div>
      <div class="col">
        <label for="last_name_kana" class="col-form-label">(メイ)</label>
        <input type="text" class="form-control-sm" placeholder="道子" aria-label="Last name">
     </div>
    </div>
    
    <div class="row">
      <div class="col">
      <label for="email" class="col-sm-4 col-form-label">メールアドレス</label>
      <input type="email" class="form-control-sm "　 id="email"  >
      </div>
    </div>
    
    <div class="row">
      <div class="col">
      <label for="postal_code" class="col-sm-4 col-form-label">郵便番号(ハイフンなし)</label>
      <input type="text" class="form-control-sm"　 id="postal_code"  >
      </div>
    </div>
    
    <div class="row">
      <div class="col">
      <label for="address" class="col-sm-4 col-form-label">住所</label>
      <input type="text" class="form-control-sm"　placeholder="東京都渋谷区代々木神園町0-0"　id="postal_code"  >
      </div>
    </div>    
        
    <div class="row">
      <div class="col">
      <label for="telephone_number" class="col-sm-4 col-form-label">電話番号(ハイフンなし)</label>
      <input type="text" class="form-control-sm"　id="postal_code"  >
      </div>
    </div> 
        
    <div class="row">
      <div class="col">
      <label for="password" class="col-sm-4 col-form-label">パスワード（6文字以上）</label>
      <input type="password" class="form-control-sm"　id="passwd" >
      </div>
    </div>
    
    <div class="row">
      <div class="col">
      <label for="password" class="col-sm-4 col-form-label">パスワード（確認用）</label>
      <input type="password" class="form-control-sm"　id="passwd" >
      </div>
    </div>
    
  </div>