
<div class="container">
  
    <p id ="notice"></p>
    <h5 class="text-dark bg-light text-left w-25 mb-4 px-3">管理者ログイン</h5>
  
   

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form>
    <div class="row mb-3 ">
      <label for="email" class="col-sm-2 col-form-label">メールアドレス</label>
      <div class="col-sm-5">
        <input type="email" class="form-control" id="email"  >
      </div>
    </div>
        
    <div class="row mb-3">
      <label for="passwd" class="col-sm-2 col-form-label">パスワード</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" id="passwd" >
      </div>
    </div>
  </form>


    <div class="actions text-center">
      <%= f.submit "ログイン" %>
    </div>
<% end %>

<%= render "admin/shared/links" %>
        
        
      
   
  
</div>