<div class="container">
  <p id ="notice"></p>
    <h4 class="text-dark bg-light w-25 text-center mb-y">注文情報入力</h4>
    
    <h4>支払方法</h4>
    
    <h4>お届け先</h4>
    
    <div class="form-check">
      <%= f.radio_button :is_active, true, class: "form-check-input" %>
      <%= f.label :is_active, "販売中", value: true, class: "form-check-label" %>
    </div>

    <div class="form-check">
      <%= f.radio_button :is_active, false, class: "form-check-input" %>
      <%= f.label :is_active, "販売停止中", value: false, class: "form-check-label" %>
    </div>
    
</div>