<div class="container">
  <p id ="notice"></p>
  
  
        <h1>商品一覧</h1>
        
  <div class="row">
        
      <% @items.each do |item| %>
    <div class="col-sm">
        <%= image_tag item.image, size: '200x100' %>
        <%= item.name %>
      <div class="col">
        <%= item.price %>
      </div>
    </div>  
        
        
      <% end %>  
    
    
    </div>
  </div>  
</div>
