<div class="container">
  <p id ="notice"></p>
  
  
        <h1>商品一覧</h1>
        
  <div class="row">
    <div class="col">    
      <% @items.each do |item| %>
      
        <%= image_tag item.image, size: '300x200' %>
        <%= item.name %>
        <%= item.price %>
        
        
        
      <% end %>  
    
    
    </div>
  </div>  
</div>
