<div class="container">
  <p id ="notice"></p>
  
  
        <h1>商品一覧</h1>
        
      <div class="row">
        
      <% @items.each do |item| %>
      
        <%= image_tag item.image, size: '300x200' %>
        
      <% end %>  
      </div>
</div>
