<div class="container">
  <p id ="notice"></p>
  
  
        <h1>商品一覧</h1>
        
      <div class="row">
        
        <%= image_tag @items.image, size: '300x200' %>
        
      </div>
</div>
